---
import Image from 'astro/components/Image.astro';
import Twatter from '../../assets/Project/Twatter.png';
import GitHub from '../../assets/Socials/Github.svg';
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
	return [{ params: { project: 'twatter' } }, { params: { project: 'shl' } }];
}

const { project } = Astro.params;

const projects: {
	[key: string]: { title: string; image: ImageMetadata; description: string; socials: { icon: ImageMetadata; href: string } };
} = {
	twatter: {
		title: 'Twatter',
		image: Twatter,
		description:
			'Twatter is a social media platform that allows users to post tweets, follow other users, and like tweets. It was built using React, Node.js, and MongoDB.',
		socials: {
			icon: GitHub,
			href: 'https://github.com/KibbeWater/Twatter',
		},
	},
};

const { title, image, description, socials } = projects[project];
---

<Layout title=`Project: ${title}`>
    <main class="w-screen h-screen bg-gradient-to-br from-orange-300 to-orange-400 flex justify-center items-center">
        <div class="w-9/12 h-4/6 px-4 py-4 rounded-3xl bg-white/25 border border-white/[0.18] shadow-lg backdrop-blur-sm">
            <Image src={image} alt={title} class="h-64 w-64 rounded-2xl object-cover" transition:persist=`project-icon-${project}` transition:animate={'fade'} />
        </div>
    </main>
</Layout>
