---
import Layout from '../layouts/Layout.astro';
---

<Layout title="KibbeWater">
	<main class="w-screen h-screen flex justify-center items-center bg-gradient-to-br from-violet-700 via-pink-700 to-yellow-300">
		<div class="w-96 h-48 flex justify-center items-center bg-white/10 rounded-xl backdrop-blur-md shadow-lg transition-all ease-in-out duration-500 translate-y-0 hover:-translate-y-2 hover:cursor-pointer">
			<h1 class="text-6xl font-extralight font-roboto text-white">BRB...</h1>
		</div>
	</main>
</Layout>
