---
import { Image } from 'astro:assets';
import Memoji from '../assets/Memoji.png';
---

<div class='relative w-96 h-96 rounded-full shadow-xl'>
    <div
        class='h-[28rem] w-[28rem] bottom-0 left-0 rounded-bl-[12rem] overflow-hidden absolute flex items-end z-20'
    >
        <div
            class='rounded-full w-96 h-96 bg-gradient-to-br from-orange-200 to-orange-300 relative'
        >
            <Image
                src={Memoji}
                alt='Memoji'
                class='absolute bottom-0 -left-[4.8rem] max-w-[26rem] w-[26rem]'
            />
        </div>
    </div>
</div>
